<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>BC250 Control Center</vendor>
  <vendor_url>https://github.com/movacx/bc250-control-center</vendor_url>
  <action id="io.github.movacx.bc250-control-center.compute-units">
    <description>Read and configure BC250 compute units</description>
    <message>Authentication is required to manage BC250 compute units</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-cu-helper</annotate>
  </action>
  <action id="io.github.movacx.bc250-control-center.fan-pwm">
    <description>Control BC250 fan PWM channels</description>
    <message>Authentication is required to change BC250 fan PWM values</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-fan-pwm-helper</annotate>
  </action>

  <action id="io.github.movacx.bc250-control-center.steamos-game-helper">
    <description>Run limited BC250 hardware actions in Linux Game Mode</description>
    <message>SteamOS, Bazzite or CachyOS Game Mode is allowed to run limited BC250 hardware actions</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-steamos-game-helper</annotate>
  </action>

  <action id="io.github.movacx.bc250-control-center.governor-config">
    <description>Edit the BC250 GPU governor configuration</description>
    <message>Authentication is required to update the BC250 GPU governor configuration</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-governor-config-helper</annotate>
  </action>

  <action id="io.github.movacx.bc250-control-center.cpu-smu">
    <description>Apply validated BC250 CPU and SMU settings</description>
    <message>Authentication is required to change BC250 CPU and SMU settings</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-cpu-smu-helper</annotate>
  </action>

  <action id="io.github.movacx.bc250-control-center.system-setup">
    <description>Apply validated BC250 memory, VRAM and ACPI settings</description>
    <message>Authentication is required to change BC250 memory, VRAM or ACPI settings</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-system-setup-helper</annotate>
  </action>

  <action id="io.github.movacx.bc250-control-center.openrc-service">
    <description>Install validated BC250 OpenRC services</description>
    <message>Authentication is required to manage BC250 OpenRC services</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-openrc-service-helper</annotate>
  </action>

  <action id="io.github.movacx.bc250-control-center.service-control">
    <description>Restart an approved BC250 governor service</description>
    <message>Authentication is required to restart the selected BC250 governor</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-service-helper</annotate>
  </action>

  <action id="io.github.movacx.bc250-control-center.maintenance">
    <description>Run a bounded BC250 system maintenance action</description>
    <message>Authentication is required to release filesystem caches</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-maintenance-helper</annotate>
  </action>

  <action id="io.github.movacx.bc250-control-center.core-unlock">
    <description>Unlock the two additional BC250 CPU cores</description>
    <message>Authentication is required to unlock CPU cores and reboot the BC250</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-core-unlock-helper</annotate>
  </action>

  <action id="io.github.movacx.bc250-control-center.gddr6-memory-temp-read">
    <description>Read the BC250 GDDR6 per-chip memory temperature</description>
    <message>Authentication is required to read the BC250 GDDR6 memory temperature</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-gddr6-temp-reader</annotate>
  </action>

  <action id="io.github.movacx.bc250-control-center.gddr6-memory-temp-patch">
    <description>Apply the reviewed runtime SMU patch for BC250 GDDR6 memory temperature</description>
    <message>Authentication is required to apply the reviewed GDDR6 memory-temperature SMU patch</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bc250-control-center/bc250-gddr6-temp-helper</annotate>
  </action>
</policyconfig>
